name: Add issues to Jozu planning project

on:
  issues:    
    types: 
        - opened
       
jobs:
  add-to-project:
    name: Add issue to project
    runs-on: ubuntu-latest
    steps:
      - name: Generate a token
        id: generate-token
        uses: actions/create-github-app-token@7e473efe3cb98aa54f8d4bac15400b15fad77d94   ## v2.2.0
        with:
          app-id: ${{ vars.KITOPS_BOT_ID }}
          private-key: ${{ secrets.KITOPS_BOT_PRIVATE_KEY }}
          owner: kitops-ml

      - name: Add To GitHub projects
        uses: actions/add-to-project@244f685bbc3b7adfa8466e08b698b5577571133e  ## v1.0.2
        with:
          project-url: https://github.com/orgs/jozu-ai/projects/1
          github-token: ${{ steps.generate-token.outputs.token }}
