name: Build and Deploy Package and Docs

on:
  workflow_dispatch:

  push:
    tags:
      - 'v*'
        
env:
  GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}

permissions:
  contents: write
  pull-requests: write
  packages: write
  id-token: write
  attestations: write
  
jobs:
  build-and-publish:
    runs-on: ubuntu-latest

    env:
      GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}

    steps:
      # Checkout the repository
      - name: Check out repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # 6.0.2
      
      - name: Install poetry
        run: pipx install poetry

      # Set up Python
      - name: Set up Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # 6.2.0
        with:
          python-version: '3.10'
          cache: poetry

      # Install dependencies
      - name: Install dependencies
        run: |
          pipx install twine
          
      # Configure Git author identity 
      - name: Configure Git author 
        run: | 
          git config --global user.email "github-actions[bot]@users.noreply.github.com" 
          git config --global user.name "github-actions[bot]"

      - name: Install dependencies
        run: poetry install --with=dev

      - name: Verify lib version
        env:
          TAG_NAME: ${{ github.ref_name }}
        run: |
          EXPECTED_VERSION=v$(poetry version -s)
          if [[ "${EXPECTED_VERSION}" != "${TAG_NAME}" ]]; then
            echo "Versions don't match"
            exit 1
          fi
    
      - name: Run Tests
        run: poetry run pytest

      - name: Run Ruff checker
        run: poetry run ruff check

      # Build the package distributables
      - name: Build package 
        run: | 
          poetry build

      # Publish the distributables to PyPI 
      - name: Publish package to PyPI
        run: twine upload dist/* 
        env: 
          TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
          TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
  
  # Push docs to the Kitops repo only after a successful release to PyPi
  release_docs:
    needs: build-and-publish
    secrets: inherit
    uses: ./.github/workflows/sync-docs-to-kitops.yml
