name: PR Builds

on:
  pull_request:

jobs:
  run-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # 6.0.2

      - name: Install poetry
        run: pipx install poetry

      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # 6.2.0
        with:
          python-version: "3.13"
          cache: poetry
      
      - name: Install dependencies
        run: |
          poetry install --with=dev
  
      - name: Run Tests
        run: poetry run pytest
      
      - name: Run Ruff checker
        run: poetry run ruff check