name: PR Builds

on:
  pull_request:

jobs:
  run-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # 6.0.0

      - name: Install poetry
        run: pipx install poetry

      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # 6.0.0
        with:
          python-version: "3.13"
          cache: poetry
      
      - name: Install dependencies
        run: |
          poetry install --with=dev
  
      - name: Run Tests
        run: poetry run pytest
      
      - name: Run Ruff checker
        run: poetry run ruff check