name: PR Builds

on:
  pull_request:

jobs:
  run-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # 4.2.2

      - name: Install poetry
        run: pipx install poetry

      - uses: actions/setup-python@42375524e23c412d93fb67b49958b491fce71c38 # 5.4.0
        with:
          python-version: "3.13"
          cache: poetry
      
      - name: Install dependencies
        run: |
          poetry install --with=dev
  
      - name: Run Tests
        run: poetry run pytest
      
      - name: Run Ruff checker
        run: poetry run ruff check