name: Sync docs to KitOps repository

on:
  workflow_call:
  
  workflow_dispatch:

env:
  KITOPS_PATH: "kitops-clone"
  PYKITOPS_DOCS_PATH: "docs/src/docs/pykitops"

jobs:
  sync-docs-to-kitops:
    runs-on: ubuntu-latest
    steps:
      - name: Generate a token
        id: generate-token
        uses: actions/create-github-app-token@0f859bf9e69e887678d5bbfbee594437cb440ffe   ## v2.1.0
        with:
          app-id: ${{ vars.KITOPS_BOT_ID }}
          private-key: ${{ secrets.KITOPS_BOT_PRIVATE_KEY }}
          owner: kitops-ml      

      - name: Checkout pykitops repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8   ## v5.0.0

      - name: Checkout KitOps repository to subdirectory
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8   ## v5.0.0
        with:
          token: ${{ steps.generate-token.outputs.token }}
          repository: kitops-ml/kitops
          ref: main
          path: ${{ env.KITOPS_PATH }}

      - name: Copy pykitops docs into KitOps docs dir
        run: |
          # Remove existing directory to ensure any old files are removed
          rm -rf "${KITOPS_PATH}/${PYKITOPS_DOCS_PATH}"
          mkdir -p "${KITOPS_PATH}/${PYKITOPS_DOCS_PATH}"
          cp -r docs/* "${KITOPS_PATH}/${PYKITOPS_DOCS_PATH}"

      - name: Get short SHA output
        id: get-sha
        run: |
          SHA=${{ github.sha }}
          echo "sha=${SHA:0:10}" >> $GITHUB_OUTPUT

      - name: Open PR in KitOps repo with docs changes
        uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e   ## v7.0.8
        with:
          path: ${{ env.KITOPS_PATH }}
          token: ${{ steps.generate-token.outputs.token }}
          commit-message: |
            Update pykitops documentation

            Update pykitops documentation to reflect commit ${{ github.sha }}
            in repository ${{ github.server_url }}/${{ github.repository }}
          title: Update PyKitOps documentation
          body: |
            Update the pykitops section of the documentation to reflect commit
            [`${{ steps.get-sha.outputs.sha }}`](${{ github.server_url }}/${{ github.repository }}/commit/${{ github.sha }})
            in ${{ github.server_url }}/${{ github.repository }}
          branch: pykitops-docs-update
          committer: GitHub <noreply@github.com>
          author: ${{ github.actor }} <${{ github.actor_id }}@users.noreply.github.com>
          signoff: true
          delete-branch: true
