name: Sync docs to KitOps repository

on:
  workflow_call:
  
  workflow_dispatch:

env:
  KITOPS_PATH: "kitops-clone"
  PYKITOPS_DOCS_PATH: "docs/src/docs/pykitops"

jobs:
  sync-docs-to-kitops:
    runs-on: ubuntu-latest
    steps:
      - name: Generate a token
        id: generate-token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf   ## v2.2.1
        with:
          app-id: ${{ vars.KITOPS_BOT_ID }}
          private-key: ${{ secrets.KITOPS_BOT_PRIVATE_KEY }}
          owner: kitops-ml      

      - name: Checkout pykitops repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd   ## v6.0.2

      - name: Checkout KitOps repository to subdirectory
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd   ## v6.0.2
        with:
          token: ${{ steps.generate-token.outputs.token }}
          repository: kitops-ml/kitops
          ref: main
          path: ${{ env.KITOPS_PATH }}

      - name: Copy pykitops docs into KitOps docs dir
        run: |
          # Remove existing directory to ensure any old files are removed
          rm -rf "${KITOPS_PATH}/${PYKITOPS_DOCS_PATH}"
          mkdir -p "${KITOPS_PATH}/${PYKITOPS_DOCS_PATH}"
          cp -r docs/* "${KITOPS_PATH}/${PYKITOPS_DOCS_PATH}"

      - name: Get short SHA output
        id: get-sha
        run: |
          SHA=${{ github.sha }}
          echo "sha=${SHA:0:10}" >> $GITHUB_OUTPUT

      - name: Open PR in KitOps repo with docs changes
        uses: peter-evans/create-pull-request@c0f553fe549906ede9cf27b5156039d195d2ece0   ## v8.1.0
        with:
          path: ${{ env.KITOPS_PATH }}
          token: ${{ steps.generate-token.outputs.token }}
          commit-message: |
            Update pykitops documentation

            Update pykitops documentation to reflect commit ${{ github.sha }}
            in repository ${{ github.server_url }}/${{ github.repository }}
          title: Update PyKitOps documentation
          body: |
            Update the pykitops section of the documentation to reflect commit
            [`${{ steps.get-sha.outputs.sha }}`](${{ github.server_url }}/${{ github.repository }}/commit/${{ github.sha }})
            in ${{ github.server_url }}/${{ github.repository }}
          branch: pykitops-docs-update
          committer: GitHub <noreply@github.com>
          author: ${{ github.actor }} <${{ github.actor_id }}@users.noreply.github.com>
          signoff: true
          delete-branch: true
